<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>note0.png</key>
		<dict>
			<key>frame</key>
			<string>{{155,232},{76,76}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,1},{76,76}}</string>
			<key>sourceSize</key>
			<string>{78,78}</string>
		</dict>
		<key>note1.png</key>
		<dict>
			<key>frame</key>
			<string>{{78,232},{76,76}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,1},{76,76}}</string>
			<key>sourceSize</key>
			<string>{78,78}</string>
		</dict>
		<key>note10.png</key>
		<dict>
			<key>frame</key>
			<string>{{1,232},{76,76}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,1},{76,76}}</string>
			<key>sourceSize</key>
			<string>{78,78}</string>
		</dict>
		<key>note11.png</key>
		<dict>
			<key>frame</key>
			<string>{{155,155},{76,76}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,1},{76,76}}</string>
			<key>sourceSize</key>
			<string>{78,78}</string>
		</dict>
		<key>note2.png</key>
		<dict>
			<key>frame</key>
			<string>{{78,155},{76,76}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,1},{76,76}}</string>
			<key>sourceSize</key>
			<string>{78,78}</string>
		</dict>
		<key>note3.png</key>
		<dict>
			<key>frame</key>
			<string>{{1,155},{76,76}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,1},{76,76}}</string>
			<key>sourceSize</key>
			<string>{78,78}</string>
		</dict>
		<key>note4.png</key>
		<dict>
			<key>frame</key>
			<string>{{155,78},{76,76}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,1},{76,76}}</string>
			<key>sourceSize</key>
			<string>{78,78}</string>
		</dict>
		<key>note5.png</key>
		<dict>
			<key>frame</key>
			<string>{{78,78},{76,76}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,1},{76,76}}</string>
			<key>sourceSize</key>
			<string>{78,78}</string>
		</dict>
		<key>note6.png</key>
		<dict>
			<key>frame</key>
			<string>{{1,78},{76,76}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,1},{76,76}}</string>
			<key>sourceSize</key>
			<string>{78,78}</string>
		</dict>
		<key>note7.png</key>
		<dict>
			<key>frame</key>
			<string>{{155,1},{76,76}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,1},{76,76}}</string>
			<key>sourceSize</key>
			<string>{78,78}</string>
		</dict>
		<key>note8.png</key>
		<dict>
			<key>frame</key>
			<string>{{78,1},{76,76}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,1},{76,76}}</string>
			<key>sourceSize</key>
			<string>{78,78}</string>
		</dict>
		<key>note9.png</key>
		<dict>
			<key>frame</key>
			<string>{{1,1},{76,76}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,1},{76,76}}</string>
			<key>sourceSize</key>
			<string>{78,78}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>note.png</string>
		<key>size</key>
		<string>{256,512}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:1a7c01660897ee3864a85acd9d95fa2a$</string>
		<key>textureFileName</key>
		<string>gemNote.png</string>
	</dict>
</dict>
</plist>
